services:
  - type: web
    name: unity-demo-backend
    env: python
    plan: free
    region: oregon

    buildCommand: >
      pip install --upgrade pip &&
      pip install -r requirements.txt

    startCommand: >
      uvicorn main:app --host 0.0.0.0 --port 8080 --reload

    autoDeploy: true
